.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.error-msg{
  font-size: 14px;
  color: red;
  display: none;
}
input:invalid[focused='true']{
  border: 1px solid red;
}
input:invalid[focused='true'] ~ span {
  display: block;
}
form{  
  border: 1px solid #ccc;
  padding:10px;
  border-radius: 4px;
}
button{
  padding:10px;
  background-color: #0d6efd;
  outline: none;
  border: 1px solid #0a58ca;
  width: 100%;
}